In [54]:
import sqlite3

In [55]:
con  = sqlite3.connect('./test_db')

In [56]:
cur = con.cursor()
for row in cur.execute('select * from person'):
    print(row)
    for column in row:
        print(column)
        for coulum in row:
            print(column)

(1, 'name_a', 10.5)
1
1
1
1
name_a
name_a
name_a
name_a
10.5
10.5
10.5
10.5
(3, 'c_update', 3.14)
3
3
3
3
c_update
c_update
c_update
c_update
3.14
3.14
3.14
3.14
(4, 'from_model', 100.0)
4
4
4
4
from_model
from_model
from_model
from_model
100.0
100.0
100.0
100.0
(100, 'name_z', 99.9)
100
100
100
100
name_z
name_z
name_z
name_z
99.9
99.9
99.9
99.9

In [57]:
insert_sql = ' INSERT INTO person VALUES(?, ?, ?)'

In [58]:
insert_param = (100, 'name_z', 99.9)

In [59]:
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [60]:
con.commit()

In [61]:
cur.execute('select * from person where size > :size', {'size':10})

In [62]:
print(cur.fetchall())

[(1, 'name_a', 10.5), (4, 'from_model', 100.0), (100, 'name_z', 99.9)]

In [63]:
#con.close()

In [64]:
#cur.execute('select * from person where size > :size', {'size':10})

In [65]:
insert_sql = ' update person set name = ? where id = ?'

In [66]:
insert_param = ('changed_name',1)

In [67]:
cur.execute(insert_sql, insert_param)

In [68]:
for row in cur.execute('select * from person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)
(4, 'from_model', 100.0)
(100, 'name_z', 99.9)

In [69]:
delete_sql = 'delete from person where id = 100'

In [70]:
cur.execute(delete_sql)

In [71]:
for row in cur.execute('select * from person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)
(4, 'from_model', 100.0)

In [73]:
con.close()