In [1]:
import sqlite3

In [2]:
con  = sqlite3.connect('./test_db')

In [9]:
cur = con.cursor()
for row in cur.execute('select * from person'):
    print(row)
    for column in row:
        print(column)
        for coulum in row:
            print(column)

(1, 'name_a', 10.5)
1
1
1
1
name_a
name_a
name_a
name_a
10.5
10.5
10.5
10.5
(3, 'c_update', 3.14)
3
3
3
3
c_update
c_update
c_update
c_update
3.14
3.14
3.14
3.14

In [10]:
insert_sql = ' INSERT INTO person VALUES(?, ?, ?)'

In [13]:
insert_param = (100, 'name_z', 99.9)

In [14]:
cur.execute(insert_sql, insert_param)

In [15]:
con.commit()

In [16]:
cur.execute('select * from person where size > :size', {'size':10})

In [17]:
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [23]:
#con.close()

In [24]:
#cur.execute('select * from person where size > :size', {'size':10})

In [25]:
insert_sql = ' update person set name = ? where id = ?'

In [26]:
insert_param = ('changed_name',1)

In [27]:
cur.execute(insert_sql, insert_param)

In [28]:
for row in cur.execute('select * from person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)
(100, 'name_z', 99.9)

In [31]:
delete_sql = 'delete from person where id = 100'

In [32]:
cur.execute(delete_sql)

In [33]:
for row in cur.execute('select * from person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)